@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Global variable */
:root{
    --dark-primary:#1b1f24; 
    --primary :#12bdff;
    --primary-hover:#0c8ec2;
    --nunito: "Nunito Sans", sans-serif;
}
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* animation */
html{
    scroll-behavior: smooth;
}
/* Set font family */
body {
    font-family: var(--nunito);
}

/* Header styling */
header {
    background-color: var(--dark-primary);
    padding: 20px;
    color: white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

/* Logo styling */
header .logo {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 2px;   
}

/* Navigation menu styling */
ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
     font-weight:600 ;
}

header ul li a:hover {
    color: var(--primary);
}

/* Button styling */


/* Section */
section.portfolio-section{
    background-color: var(--dark-primary);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 120px 0 240px;
}
.portfolio-title{
    font-size: 48px;
    font-weight: 900;
}
.portfolio-title > span{
    color: var(--primary);
}
.portfolio-description{
color: #c4c4c4;
}
/* icons */
.icons{
    margin-top: 20px 0;
}
.icons li{
    margin-right: 15px;
}
.icons ul{
    list-style: none;
    display: flex;
}
.icons li > a{
    text-decoration: none;
    color: #fff;
}
.icons li > a:hover{
color: var(--primary);
}
.icons li a > i.fa-facebook:hover{
    color:#1877F2;
}
.icons li a > i.fa-linkedin:hover{
    color: #0077b5;
}
.icons li a > i.fa-instagram:hover{
    color:#FCAF45;
}
/* buttons */
.portfolio-buttons{
    margin-right: 25px;
    display: inline-flex;
}
 .btn{
    padding: 10px 20px;
    border-radius: 2px;
    border:none;
    cursor: pointer;
    display: flex;
    margin-right:20px;
    margin-top: 5px;
}
.btn.btn-primary {
    background-color: var(--primary);
    font-weight: 600;
    color:var(--dark-primary);
 }
.btn.btn-primary:hover{
    background-color: var(--primary-hover); 
} 
.btn-dark-outlined{
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--primary);
    font-weight: 600;
 
}


/* header buttons */
header button {
    padding: 10px 20px;
   }
.btn-dark-outlined:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
}

/* about section */
.portfolio-about-section {
    background-color: #22282f;
    color: #fff;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-about-section img {
    width: 250px;
    border-radius: 10px;
    border: 3px solid var(--primary);
    box-shadow: 3px 5px 40px #03506e;
}

.portfolio-about-desc {
    margin-left: 50px;
    max-width: 450px;
}

.portfolio-about-desc h4 {
    font-size: 30px;
    font-weight: 700;
}

.portfolio-about-section {
    background-color: #22282f;
    color: #fff;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-about-section img {
    width: 250px;
    border-radius: 10px;
    border: 3px solid var(--primary);
    box-shadow: 3px 5px 40px #03506e;
}

.portfolio-about-desc {
    margin-left: 50px;
    max-width: 450px;
}

.portfolio-about-desc h4 {
    font-size: 30px;
    font-weight: 700;
}
.portfolio-about-desc h4 > span{
    color: var(--primary);
}
.portfolio-about-desc ol {
    list-style-type: none;
    margin: 10px 0px;
}

.portfolio-about-desc li {
    margin-bottom: 8px;
    color: grey;
}
.portfolio-about-desc li > a{
    text-decoration: none;
    color: grey;
}
.portfolio-about-desc li > a:hover{
    color: var(--primary);
}
.portfolio-about-desc li > strong {
    color: #fff;
}
/* Work */
.work-section-title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}
.work-section-title span{
    color: var(--primary);
}
.work-section-title span:hover{
    color: #0c8ec2;
}
.portfolio-work-section{
    background-color: var(--dark-primary);
    color: #fff;
    padding: 60px;
    text-align: center;
}
.work-section-items{
    display: flex;
    justify-content: center;
}
.work-section-box{
    background-color: #22282f;
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 40px;
}

.work-section-box:hover{
    background-color: #14171c;
}
.portfolio-work-section p{
    color: grey;
    font-size: 14px;
}
.portfolio-work-section a{
    text-decoration: none;
    color: #FCAF45;
}
.portfolio-work-section {
    margin: top 20px; 
    margin-bottom: 10px;
}
.portfolio-work-section p{
    padding-top: 5px;
}
.work-section-box-icon{
    background-color: var(--primary);
    width:auto;
    padding: 2px;
    border-radius: 15px;
   margin-bottom: 5px;
    }
.work-section-box-icon:hover{
    background-color: var(--primary-hover);
}
/* contact section */
.contact-section{
    background-color: #14171c;
    padding: 40px;
    color: #fff;
    text-align: center;
}
.contact-section h4{
    font-size: 30px;
    margin: 20px 0px;
    font-weight: 900;
}
.contact-section h4 span{
    color: var(--primary);
}
.contact-section form input,textarea{
    padding: 5px 10px;
    outline:none;
    width:350px;
    border: none;
    background-color:#c4c4c4;
    border-radius: 2px;
    margin-bottom: 10px;
    resize: none;
    font-family: var(--nunito);
}
.contact-section-button{
    padding: 10px 20px;
    border-radius: 2px;
    border:none;
    cursor: pointer;
    background-color: var(--primary);
    font-weight: 600;
    color:var(--dark-primary);
}
.contact-section-button:hover{
    background-color: var(--primary-hover);
}
/* footer */
footer {
    background-color:#22282f;
    color: grey;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}
footer a{
    color: var(--primary);
    text-decoration: none;
}